
services:
  mongo:
    image: harbor.local.registry/medpulse/mongo:4.4
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    
  backend:
    image: harbor.local.registry/medpulse/medpulse-backend:latest
    container_name: backend
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongo:27017/demo
      - PORT=3001
    depends_on:
     - mongo         

  frontend:
    image: harbor.local.registry/medpulse/medpulse-frontend:latest
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
    
volumes:
  mongo_data:
